<div ng-show="question.answers.length">
  <h2>What other tacophiles think about  "{{ question.name }}"</h2>
  <ul>
    <li ng-repeat="item in question.answers">
    {{ item.name }}
    </li>
  </ul>
</div>

<div>
  <h2>Your two tacos: {{ question.name }}</h2>
  <form ng-submit="addAnswer()" class="form-inline" role="form">
    <div class = "form-group">
      <input type="text" ng-model="answerName" class="form-control" placeholder= "Have an answer?">
    </div>
    <button type="submit" class="btn-btn-danger">Submit</button>
  </form>
</div>
